h1{
text-align: center;
}
form {
    width: 25vw;
// padding: auto 10px;
    background-color: var(--bg-create-kitten);
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

fieldset {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px 10px;
    align-self: center;
}

legend{
    margin: 10px 0;
}

// label {
//     display: block;
// }