<form #kittenForm="ngForm" (ngSubmit)="kittenForm.valid && onSubmit()">

    <!-- Form submitted ? {{kittenForm.submitted}}
    Form valid ? {{kittenForm.valid}}
    Form invalid ? {{kittenForm.valid}} -->
    <h1>Ajouter un chat</h1>
    <fieldset>
        <legend> Nom:</legend>
                 
        <input id="name" name="name" type="text" placeholder="nom de chat" [(ngModel)]="newKitten.name" #name="ngModel" minlength="3"
            maxlength="15" required>
        <div *ngIf="name.errors && kittenForm.submitted">
            <span *ngIf="name.errors['required']">Le nom est requis.</span>
            <span *ngIf="name.errors['minlength']">Le nom doit comporter au moins 3 caractères.</span>
            <span *ngIf="name.errors['maxlength']">Le nom ne doit pas dépasser 15 caractères.</span>
        </div>
    </fieldset>

    <fieldset>
        <legend>
           Race
        </legend>
        <select id="race" name="race"  [(ngModel)]="newKitten.race" #race="ngModel" required>
            <option value="">--Race de chat--</option>
            <option value="Ragdoll">Ragdoll</option>
            <option value="Main Coon">Main Coon</option>
            <option value="Persan">Persan</option>
            <option value="Abyssin">Abyssin</option>
            <option value="Norvégien">Norvégien</option>
            <option value="Sphynx">Sphynx</option>
            <option value="Sacré de Birmanie">Sacré de Birmanie</option>
            <option value="Chartreux">Chartreux</option>
            <option value="Bombay">Bombay</option>
            <option value="Siamois">Siamois</option>
        </select>
        <div *ngIf="race.errors && kittenForm.submitted">
            <span *ngIf="race.errors['required']">La race est requise.</span>
        </div>
    </fieldset>

    <fieldset>
        <legend>
           Date de naissance
        </legend>
        <input id="date" name="date" type="date" [(ngModel)]="newKitten.birthDay" #date="ngModel" min="2003-01-01" max="2023-01-31" required>
        <div *ngIf="date.errors && kittenForm.submitted">
            <span *ngIf="date.errors['required']">La date de naissance est requise.</span>
        </div>
    </fieldset>

    <fieldset>
        <legend>
            Portrait du chat
        </legend>
        <input id="image" name="image" type="url" placeholder="http://example.xx" [(ngModel)]="newKitten.image" required>
    
    </fieldset>
    <!-- (click)="onSubmit()" -->
    <button type="submit" >Ajouter</button>
</form>