h1 {
    text-align: center;
}

form {
    width: 25vw;
    // padding: auto 10px;
    background-color: var(--bg-create-kitten);
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

fieldset {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px 10px;
    align-self: center;
}

legend {
    margin: 10px 0;
}

.btn {
    background: #88CB53;
    color: var(--colorBlanc);
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: #85df40;
    transition: all 0.3s;
}

.btn:disabled {
    background: rgb(166, 165, 165);
    cursor: not-allowed;
}