<header>
    <h1>Chat à adopter</h1>
</header>
<div class="cards"> <!-- ngFor-->
    <div class="card" *ngFor="let kitten of kittenList; let index = index">
        <div class="card-header">
            <div class="card-img" (mouseover)="hidden = !hidden" (mouseout)="hidden=!hidden">
                <img [src]="kitten.image" [alt]="kitten.name">
            </div>
        </div>
        <div class="card-body">
            <div *ngIf="!hidden">
                <h2 class="card-title">{{kitten.name}}</h2>
                <p>race : {{kitten.race}}</p>
                <p>né le : {{kitten.birthDay | date:"dd/MM/YYYY"}}</p>
            </div>
            <button class="card-button" (click)="onSubmit(index)">Je l'adopte !</button>
        </div>
    </div>
</div>